@page "/"
@using BlazorPortfolio.Client.Models
@inject PortfolioService _service

<PageTitle>Home</PageTitle>


@if(Portfolio == null)
{
    <p><em>Loading...</em></p>

} else
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid>
            @foreach (var project in Portfolio.Projects)
            {
                <MudItem xs="12" sm="6" md="4">
                    <ProjectCard Project="project" />
                </MudItem>
            }
        </MudGrid>
    </MudContainer>
}

@code {
    private Portfolio? Portfolio = new();

    protected override async Task OnInitializedAsync()
    {
        Portfolio = await _service.GetPortfolioAsync();
    }
}